__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/
src/owl/models/**

# IDE
.vscode/
.idea/**
.gigaide/**
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
tests/htmlcov/
htmlcov/

# Environment
.venv/**
*.egg

# Checkpoints
ckpts/

# Sample data
sample_data/

# Visualization output
output/

# ImGui
imgui.ini

